.list {
  padding-left: 1.5rem;
  margin: 0;
}

.item {
  margin-bottom: 0.5rem;
}

.item:last-child {
  margin-bottom: 0;
}

.spaced {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.spaced .item {
  margin-bottom: 0.75rem;
}

.horizontal {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}

.horizontal .item {
  margin-right: 1rem;
}

/* List markers */
.marker-disc {
  list-style-type: disc;
}

.marker-circle {
  list-style-type: circle;
}

.marker-square {
  list-style-type: square;
}

.marker-decimal {
  list-style-type: decimal;
}

.marker-none {
  list-style-type: none;
  padding-left: 0;
}

